@media screen and (max-width: 480px) {
  body {
    background-color: #e7305b;
  }
 /*
  #small {
    display: block;
    font-size: x-large;
  }

  #medium,
  #large {
    display: none;
  }
  */

div {
        width: 100%;
        }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
  body {
    background-color: #96bb7c;
  }
 /*
  #medium {
    display: block;
    font-size: x-large;
  }

  #small,
  #large {
    display: none;
  }
   */

  #small {
        width: 66.66%;
        float: left;
    }
  #medium {
        width: 33.33%;
        float: right;
    }
  #large {
        width: 100%;
        float: none;
    }
}

@media screen and (min-width: 1024px) {
  body {
    background-color: #a6dcef;
  }
 /*
  #small,
  #medium {
    display: none;
  }

  #large {
    display: block;
    font-size: x-large;
  }
  */

    #small {
        float: left;
        width: 33.33%;
    }
    #medium {
        float: left;
        width: 33.33%;
    }
    #large {
        float: left;
        width: 33.33%;
    }
}